
- title = (current_page.meta_tags.delete("title") || current_page.meta_tags.delete(:title))
title = title.blank? ? Cardboard::Setting.company_name : title

- current_page.meta_tags.each do |key, value|
  meta name='#{key}' content='#{value}'