h1 Editing <%= singular_table_name %>

= simple_form_for @<%= singular_table_name %>, url: cardboard_<%= singular_table_name %>_path(@<%= singular_table_name %>), wrapper: "bootstrap" do |f|
  == render 'fields', f: f
