h1 New <%= singular_table_name %>

= simple_form_for @<%= singular_table_name %>, url: admin_<%= plural_table_name %>_path do |f|
  == render 'fields', f: f

= link_to 'Back', admin_<%= plural_table_name %>_path