// GENERAL INPUTS
input, 
select,
textarea {
  @include font-size(16px);
  font-family: $font-primary;
  font-weight: 300;
  border: 1px solid $lightest-gray;
  padding: $input-padding;
  border-radius: 0;
  background: $white;
  color: $gray;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
}


label,
legend {
  @include font-size(12px);
  display: inline-block;
  position: relative;
  letter-spacing: 0.05rem;
  font-family: $font-secondary;
  color: $dark-gray;
  text-transform: uppercase;
  margin: 10px 0;
}

label {
  cursor: pointer;
}

// -- ASTERISK
[title='required'] {
  font-weight: 100;
}

.help-inline {
  @include font-size(12px);
  text-transform: uppercase;
  font-family: $font-secondary;
  color: red;
}

[type='text'],
[type='email'],
[type='password'],
[type='file'],
[type='number'],
[type='search'],
textarea {
  letter-spacing: 0.04rem;
  color: $dark-gray;
  width: 100%;
}


// SEARCH
.input-append {
  position: relative;
  clear: both;
}

.search-icon {
  position: absolute;
  top: 0;
  left: 10px;
  color: $gray;
}

[type='search'] {
  background: none;
  border: 0;
  border-bottom: 1px solid $stroke-color;
  padding-left: 25px;

  &:focus {
    outline-width: 0;
  }
}


// NUMBERS
[type='number'] {
  position: relative;
}

[type='number']::-webkit-outer-spin-button, 
[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  width: 50px;
  opacity: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

[type='number']::-webkit-inner-spin-button:before,
[type='number']::-webkit-inner-spin-button:after {
  background: $charcoal;
  position: absolute;
  font-family: 'fontawesome';
  color: $white;
  text-align: center;
  width: 100%;
  height: 50%;
  cursor: pointer;
}

[type='number']::-webkit-inner-spin-button:before {
  content: '\f106';
  top: 0;
  border-bottom: 1px solid $black;
}

[type='number']::-webkit-inner-spin-button:after {
  content: '\f107';
  bottom: 0;
  border-top: 1px solid $stroke-color;

}



// FIELDSET
fieldset {
  position: relative;
  width: 100%;
  overflow: auto;
  border: 0;
  margin: 0;
  padding: 0;

  .nested-fields {
    padding: $input-padding;
    background: #f9f9f9;
  }
}



// CHECKBOXES & RADIOS
[type='checkbox'],
[type='radio'] {
  position: absolute;
  left: -50px;
  visibility: hidden;
}

.checkbox__cardboard,
.radio__cardboard {
  position: relative;
  font-family: $font-primary;
  padding-left: 10px;
  padding-right: 40px;
  line-height: 50px;
  color: $gray;
  border: 1px solid $light-gray;
  transition: all $speed $ease-out;

  &.selected {
    background: $brand-color-primary;
    color: $white;

    &::before {
      font-family: 'fontawesome';
      content: '\f00c';
      position: absolute;
      top: 0;
      right: 10px;
    }
  }
}


// RADIO BUTTONS
.radio__cardboard {
  margin: 0;
  width: 50%;
  border-top: 0;

  &:nth-child(2n) {
    border-left: 0;
  }

  &:nth-child(1) {
    border-top: 1px solid $gray
  }

  &:nth-child(2) {
    border-top: 1px solid $gray
  }

}


// SELECT
select,
.select2-container,
.select2-container.select {
  position: relative;
  width: 100%;
  display: block;
  margin: 5px 0; 

  .select2-choice {
    height: auto;
    background: $white;
    border-radius: 0;
    padding: $input-padding;

    .select2-arrow {
      width: 50px;
      background: $black;
      border-radius: 0;
    }

    b {
      @extend .fa;
      @extend .icon-angle-down;
      font-family: 'fontawesome';
      font-size: 24px;
      background: none !important;
      color: $white;
      padding: 10px 17px;
      transition-duration: 0.2s;
    }
  }
}

.select2-dropdown-open {
  b {
    transform: rotate(180deg);
  }
}


.select2-container {
  min-width: 50%;
}

.select2-drop {
  box-shadow: none !important;
  border: 1px solid $lightest-gray !important;
  border-radius: 0 !important;
}

.select2-search {
  padding: $input-padding !important;

  input {
    background: $white !important;
    padding: $input-padding !important;
  }
}

.select2-results {
  .select2-result {
    padding: 10px 5px;

    &.select2-highlighted {
      color: $brand-color-primary;
      background: $brand-color-alt2;
    } 
  }
}


// CHECKBOXES


// FILE SELECT
[type='file'] {
  @include font-size(12px);
  font-family: $font-secondary;
  text-transform: uppercase;
  border: 0;
  background: transparent;
  padding: 0;

  &::-webkit-file-upload-button {
    @extend %button;
  }

}

// TABLES
table {

  width: 100%;
  border-collapse: collapse;
  color: $gray;

  thead {
    background: $charcoal;
    text-transform: uppercase;
    color: $gray;

    tr {
      border: 0;
    }

    a {
      color: $gray;

      &:hover {
        color: $white;
      }
    }

    th {
      text-align: left;
    }

  }

  td,
  th {
    padding: 20px;

    &:nth-child(n+3) {
      display: none;
    }

    &.actions {
      display: table-cell;
    }

  }

  td {
    font-family: $font-primary;
    font-weight: 100;
    font-size: 16px;
  }


  tr {
    border-bottom: 1px dotted $lightest-gray;
  }

  a {
    display: inline;
  }

  @media screen and (min-width:$tablet-break) {
    display: table;

    td,
    th {
    
      &:nth-child(n+3),
      &.actions {
        display: table-cell;
      }
  
    }

    td {
      width: auto;
      display: table-cell;
    }

    tr {
      border-bottom: 1px dotted $lightest-gray;
    }
  }
}







