// ANIMATION
$speed:                   0.3s;

// -- EASING
$ease-out-back:           cubic-bezier(0.175, 0.885, 0.320, 1.275);
$ease-in-back:            cubic-bezier(0.96, -0.41, 1, 0.83);
$ease-in-out-back:        cubic-bezier(0.74, -0.69, 0.32, 1.62);
$ease-out:                cubic-bezier(0, 0.39, 0.24, 1);
$ease-in:                 cubic-bezier(0.71, 0.01, 0.98, 0.44);
$ease-in-out:             cubic-bezier(0.44, 0, 0.59, 1);



// COLORS
// -- BRAND COLORS
$brand-color-primary:     #ef7424;
$brand-color-secondary:   #c14900;
$brand-color-alt1:        #ffa062;
$brand-color-alt2:        #ffc9a5;

// -- GENERAL COLORS
$black:                   #000;
$blue:                    #049cdb;
$green:                   #46a546;
$red:                     #9d261d;
$yellow:                  #ffc40d;
$orange:                  #f89406;
$pink:                    #fd0752;
$purple:                  #7a43b6;
$linkColor:               #08c;

// -- GRAYS
$charcoal:                #181818;
$darkest-gray:            #282828;
$dark-gray:               #555;
$gray:                    #878787;
$light-gray:              #a2a2a2;
$lightest-gray:           #bfbfbf;



// INPUTS
$input-padding:           10px;

// Yet to be organized 

$main_topbar_height: 40px !default;
$main_sidebar_width: 300px !default;

$main_content_sidebar_shadow: inset 0px 0px 20px #707070 !default;
$content_sidebar_width: 280px !default;
$content_background: #f4f7f9 !default;
$table_head: #E1E1E1 !default;
$site_min_width: 780px !default;






$btnPrimaryBackground:              $brand_color !default;
$btnPrimaryBackgroundHighlight:     $btnPrimaryBackground !default;



$dropdownLinkBackgroundHover: $brand_color  !default;

$navbarHeight:                    $main_topbar_height  !default;



