// ANIMATION
$speed:                   0.3s;

// -- EASING
$ease-out-back:           cubic-bezier(0.175, 0.885, 0.320, 1.275);
$ease-in-back:            cubic-bezier(0.96, -0.41, 1, 0.83);
$ease-in-out-back:        cubic-bezier(0.74, -0.69, 0.32, 1.62);
$ease-out:                cubic-bezier(0, 0.39, 0.24, 1);
$ease-in:                 cubic-bezier(0.71, 0.01, 0.98, 0.44);
$ease-in-out:             cubic-bezier(0.44, 0, 0.59, 1);



// COLORS
// -- BRAND COLORS
$brand-color-primary:     #ef7424;
$brand-color-secondary:   #c14900;
$brand-color-alt1:        #ffa062;
$brand-color-alt2:        #ffc9a5;

// -- GENERAL COLORS
$black:                   #000;
$white:                   #fff;

// -- GRAYS
$charcoal:                #181818;
$darkest-gray:            #282828;
$dark-gray:               #555;
$gray:                    #878787;
$light-gray:              #a2a2a2;
$lightest-gray:           #bfbfbf;
$stroke-color:            #696969;


// INPUTS
$input-padding:           10px;

// BREAKPOINTS
$tablet-break:            760px;

// SIZING
$main_sidebar_width: 300px !default;


