#content_sidebar{  
  z-index: $main_sidebar_background_zindex - 1;
    // position: absolute;
  // top: $main_topbar_height;// top: 0px;
  // left: - $main_sidebar_width - 90px;
  width: $content_sidebar_width;
  
  // overflow: hidden;
  background: #fff;
  // -webkit-transition: left $page_nav_slide_speed ease;
  // -moz-transition: left $page_nav_slide_speed ease;
  padding: 18px 25px 10px 25px;
  box-shadow: $main_content_sidebar_shadow;
  display: none;

  &.toggle {
    // position: absolute;
    // left: $main_sidebar_width;
    // display: inline;
    // left: $main_sidebar_width;
    // -webkit-transition: left $page_nav_slide_speed ease;
    // -moz-transition: left $page_nav_slide_speed ease;
  }


    
  #sidebar_page_search{
    width: 90%;
  }
  
  #content_pages {
    & > .page_link:first-child > .link_wrap {
      & > a {
        font-weight: 900;
      }
    }
    
    .page_link{
    
      > &:first-child {
        background: black;
      }
    
      &.ui-sortable-helper {
        .link_wrap a {
          border-bottom: 0px;
        }
      }
    
      .link_wrap{
        position: relative;

        &:hover {
          > .sort_handle {
            display: block;
          }
        }

        a{
          color: $brand_color;
          border-bottom: 1px solid lighten($black, 90%);
          display: block;
          padding-top: 10px;
          padding-bottom: 10px;
          
          &.saving {
            color: $successText;
            background: $successBackground;
            padding-left: 10px
          }
        }

        .sort_handle {
          position: absolute;
          right: 0px;
          top: 10px;
          color: #ccc;
          display: none;
      
          .icon-reorder {
            cursor: pointer;
            cursor: hand;
          }
        }
      }
      
      $indent-width: 15px;
      @for $i from 0 through 10 {
        .offset-#{$i} {
          padding-left: $i * $indent-width;
        }
      }
      
    }
  }
  
}
