#content_sidebar{
  z-index: 1;
  position: relative;
//  box-shadow: $main_content_sidebar_shadow;
  @include box-sizing(border-box);
  // padding-top: $main_topbar_height;
  // margin-top: -$main_topbar_height;
  // float: left;
  position: absolute;
  left: $main_sidebar_width;
  width: $content_sidebar_width;
  // overflow: auto;
  height: 100%;
  background: #fff;
  padding: 18px 25px 10px 25px;
  .indent{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid lighten($black, 90%);
    
    &:last-child {
      border-bottom: 5px solid lighten($black, 90%);
    }
  }

//  .indent > .indent{
//    margin-left: 10px;}
    
  #sidebar_page_search{
    width: 90%;
  }
  
  $indent-width: 15px;
  @for $i from 0 through 10 {
    .offset-#{$i} {
      @if $i == 0 {
        margin-left: $indent-width;
      } @else {
        margin-left: ($i + 1) * $indent-width;
      }
    }
  }
  
}