

#content {
  @include box-sizing(border-box);
  //background: use $content_background instead
  height: 100%;
  display: block;
  padding-top: 50px;
  padding-left: 50px;
  // overflow: auto;
  margin-left: $main_sidebar_width;
  &.toggle{
    margin-left: $main_sidebar_width + $content_sidebar_width;
  }
}
#content_sidebar{
  display: none;
}

#cardboard_pages{ //add all controllers that have a sidebar here

  #content{
    margin-left: $main_sidebar_width + $content_sidebar_width;
    &.toggle{
      margin-left: $main_sidebar_width;
    }
  }
  #content_sidebar{
    display: block;
  }
}
