#content {
  
  @include box-sizing(border-box);

  display: block;
  padding: 20px 40px;

  height: 100%;

  margin-left: $main_sidebar_width;
  // -webkit-transition:all $page_nav_slide_speed ease;
  // -moz-transition:all $page_nav_slide_speed ease;
  
  &.toggle{
    margin-left: $main_sidebar_width + $content_sidebar_width;
    // -webkit-transition:all $page_nav_slide_speed ease;
    // -moz-transition:all $page_nav_slide_speed ease;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0px 0px 20px 0px;
  }

  fieldset{
    margin-top: 20px;
  }


  @include box-sizing(border-box);
}

#main_content{
  background: $content_background;
}

