.login-bg {
  background: image-url("cardboard/bg.png") lighten($black, 20%);
 }

.login-wrapper {
  position: absolute;
  top: 90px;
  text-align: center; }
  .login-wrapper .logo {
    margin-bottom: 45px;
    position: relative;
    color: #FFF;
    font-size: 4em;
    left: -2px; }
  .login-wrapper .box {
    margin: 0 auto;
    padding: 35px 0 30px;
    float: none;
    width: 400px;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.65); }
    .login-wrapper .box .content-wrap {
      width: 82%;
      margin: 0 auto; }
    .login-wrapper .box h2 {
      text-transform: uppercase;
      margin: 0 0 30px 0;
      font-size: 20px;
      font-weight: 700; }
    .login-wrapper .box input[type="text"],
    .login-wrapper .box input[type="email"],
    .login-wrapper .box input[type="password"] {
      font-size: 15px;
      height: 40px;
      margin-bottom: 18px;
      border-color: #b2bfc7;
      margin-top: -20px;
      padding-left: 12px; }
    // .login-wrapper .box input[type="password"] {
    //   margin-bottom: 10px; }
    // .login-wrapper .box input:-moz-placeholder {
    //   color: #9ba8b6;
    //   // font-size: 15px;
    //   letter-spacing: 0px;
    //   font-style: italic; }
    // .login-wrapper .box input:-ms-input-placeholder {
    //   color: #9ba8b6;
    //   font-style: italic;
    //   letter-spacing: 0px;
    //   font-size: 15px; }
    // .login-wrapper .box input::-webkit-input-placeholder {
    //   color: #9ba8b6;
    //   font-style: italic;
    //   letter-spacing: 0px;
    //   font-size: 15px; }
    // .login-wrapper .box a.forgot {
    //   display: block;
    //   text-align: right;
    //   font-style: italic;
    //   text-decoration: underline;
    //   color: #3d88ba;
    //   font-size: 13px;
    //   margin-bottom: 6px; }
  //   .login-wrapper .box .remember {
  //     display: block;
  //     overflow: hidden;
  //     margin-bottom: 20px; }
  //     .login-wrapper .box .remember input[type="checkbox"] {
  //       float: left;
  //       margin-right: 8px; }
  //     .login-wrapper .box .remember label {
  //       float: left;
  //       color: #4a576a;
  //       font-size: 13px; }
  //   .login-wrapper .box .login {
  //     text-transform: uppercase;
  //     font-size: 13px;
  //     padding: 8px 30px; }
  // .login-wrapper .no-account {
  //   margin: 0 auto;
  //   float: none;
  //   text-align: center;
  //   font-size: 14px;
  //   margin-top: 25px; }
  //   .login-wrapper .no-account p {
  //     display: inline-block;
  //     color: #aaaaaa; }
  //   .login-wrapper .no-account a {
  //     color: #aaaaaa;
  //     margin-left: 7px;
  //     border-bottom: 1px solid;
  //     transition: all .1s linear;
  //     -moz-transition: all .1s linear;
  //     /* Firefox 4 */
  //     -webkit-transition: all .1s linear;
  //     /* Safari and Chrome */
  //     -o-transition: all .1s linear;
  //     /* Opera */ }
  //     .login-wrapper .no-account a:hover {
  //       text-decoration: none;
  //       color: #fff;
  //       border-bottom-color: #fff; }


/* responsive */
@media (max-width: 767px) {
  .login-wrapper .box {
    width: 350px; } }
@media (max-width: 480px) {
  .login-wrapper .box {
    width: 90%; } }