$main_topbar_color: $white;
$main_topbar_color_text_shadow: 0px -1px #5d5d5d;

#main_topbar{
  @extend .navbar;
  @extend .navbar-inverse;
  z-index: 100;
  margin-bottom: 0px;
  position: relative;

  .navbar-inner{
    @include box-sizing(border-box);
    // background: lighten($black, 15%);
    background: $brand_color;
    // box-shadow: none;
    @include border-radius(0px);
    border: none;
    padding: 0px 10px;
    height: $main_topbar_height;
    a{color: $main_topbar_color;}
    text-shadow: $main_topbar_color_text_shadow;
    
    #cardboard_logo{
      display: block;
      color: #fff;
      float: left;
      width: $main_sidebar_width;
      height: $main_topbar_height;
      background: rgba(0, 0, 0, 0.2);
      margin-left: -10px;
      box-sizing: border-box;
      padding: 10px 25px;
      box-shadow: 1px 1px 20px #000;
    }
    
    #brand{
      font-weight: 700;
      font-size: 20px;
      position: relative;
      top: 9px;
      left: 50px;
    }
    
    i{
      color: $main_topbar_color;
      margin-right: 5px;
    }
  }
  .nav > li > a {
    padding: 10px 15px 7px;
    font-weight: 700;
    color: $main_topbar_color;
    text-shadow: $main_topbar_color_text_shadow;
  }
  .dropdown-menu > li > a{
    color: $black;
    text-shadow: none;
    &:hover{
      color: $main_topbar_color;
    }
  }
}
