$main_topbar_color: $white;
$main_topbar_color_text_shadow: 0px -1px #5d5d5d;
$main_topbar_zindex: 100;

#main_topbar{
  @extend .navbar;
  @extend .navbar-inverse;
  border-radius: 0px;
  z-index: 100;
  min-height: $main_topbar_height;
  margin-bottom: 0px;
  position: relative;
  border: none;

  .navbar-inner{
    @extend .container-fluid;
    @include box-sizing(border-box);
    // background: lighten($black, 15%);
    background: $brand_color;
    // box-shadow: none;
    border: none;
    padding: 0px 10px;
    min-height: $main_topbar_height;
    a{color: $main_topbar_color;}
    text-shadow: $main_topbar_color_text_shadow;
    
    #cardboard_logo{
      display: inline-block;
      color: #fff;
      width: $main_sidebar_width;
      height: $main_topbar_height;
      background: rgba(0, 0, 0, 0.2);
      margin-left: -10px;
      @include box-sizing(border-box);
      padding: 10px 36px;
      i {
        font-size: 22px;
      }
    }
    
    #brand{
      font-weight: 700;
      font-size: 20px;
      position: relative;
      left: 50px;
    }
    
    i{
      color: $main_topbar_color;
      margin-right: 5px;
    }
  }
  .nav > li > a {
    padding: 10px 15px 7px;
    font-weight: 700;
    color: $main_topbar_color;
    text-shadow: $main_topbar_color_text_shadow;
  }
  .dropdown-menu > li > a{
    color: $black;
    text-shadow: none;
    &:hover{
      background-color: $brand_color;
      color: $main_topbar_color;
    }
  }
}
