$main_topbar_color: $white;
$main_topbar_color_text_shadow: 0px -1px #5d5d5d;
$main_topbar_zindex: 100;

#main_topbar{
  @extend .navbar;
  @extend .navbar-inverse;
  z-index: 100;
  margin-bottom: 0px;
  position: relative;
  width: 100%;

  .navbar-inner{
    @include border-radius(0px);
    border: 0;
    padding: 0px 10px;
    // min-width: $site_min_width;
    text-shadow: $main_topbar_color_text_shadow;
    
    a {
      color: $main_topbar_color;
    }

    #brand{
      font-weight: 700;
      font-size: 20px;
    }
    
    i{
      color: $main_topbar_color;
      margin-right: 5px;
    }
  }
  .nav > li > a {
    padding: 10px 15px 7px;
    font-weight: 700;
    color: $main_topbar_color;
    text-shadow: $main_topbar_color_text_shadow;
  }
  .dropdown-menu > li > a{
    color: $black;
    text-shadow: none;
    &:hover{
      color: $main_topbar_color;
    }
  }
}
