$main_sidebar_background: lighten($black, 10%);
$main_sidebar_background_zindex: $main_topbar_zindex - 1;

#main_sidebar{
  position: absolute;
  top: $main_topbar_height;
  left: 0px;
  background: $main_sidebar_background;
  width: $main_sidebar_width;
  box-sizing: border-box;
  z-index: $main_sidebar_background_zindex + 1;

  #menu{
    .item{
      a{
        padding: 22px 5px;
        display: block;
        border-bottom: 1px solid darken($main_sidebar_background, 9%);
        border-top: 1px solid lighten($main_sidebar_background, 9%);
        text-align: center;
        word-wrap:break-word;
        color: $white;

        &:hover, &.active{
          background: lighten($main_sidebar_background, 4%);
          //background: $brand_color;
          text-decoration: none;
      }
        span{
          display: block;
          font-size: 12px;
          line-height: 13px;
        }
      }   
    }
  }
}

#main_sidebar_background{
  position: fixed;
  z-index: $main_sidebar_background_zindex;
  width: $main_sidebar_width;
  background: $main_sidebar_background;
  top: 0px;
  left: 0px;
  height: 100%;
}
