.btn.wysihtml5-command-active{
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #E6E6E6;
  background-color: #D9D9D9 9;
  outline: 0;
}

.wysihtml5_wrapper .toolbar{
  margin-bottom: 6px;
}