//Only for Cardboard Admin Area

@import "cardboard/variables";

@import "cardboard/framework";
@import "cardboard/rich_text";
@import "font-awesome";
@import "select2";

@import "main_topbar";
@import "main_sidebar";
@import "content";
@import "content_sidebar";
@import "resources";

html, body{
  min-height: 100%;
  height:100%;
}
body{
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  overflow-x: hidden;
}

#main_content {
  width: 100%;
  position: relative;
  min-height: 100%;
}

#main_sidebar, #content_sidebar{
  top: 0;
  left: 0;
  min-height: 100%;
  position: absolute;
}

.center{
  text-align: center;
}

.nested-fields{
  margin-bottom: 20px;
  padding: 20px;
  background: #EFEFEF;
}

.header{
  margin-top: 20px;
  margin-bottom: 60px;

  h1,h2,h3,h4{
    float: left;
    margin-top: 5px;
    margin: 0;
    line-height: inherit;
  }
}

.icon-margin{
  margin-right: 4px;
}

