//Only for Cardboard Admin Area

@import "font-awesome-sprockets";
@import "font-awesome";

@import "globals/mixins";
@import "globals/variables";
@import "globals/typography";
@import "globals/inputs";
@import "globals/buttons";

@import "cardboard/framework";
@import "cardboard/rich_text";
@import "font-awesome";
@import "select2";

@import "components/main-topbar";
@import "components/main-sidebar";
@import "content";
@import "content_sidebar";
@import "resources";

html, 
body{
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body{
  width: 100%;
  position: relative;
  left: 0;
  font-family: $font-primary;
  font-weight: 300;
  font-size: $base-font-size;
  transition: all $speed $ease-out;
}

.body__container {
  position: relative;
  height: 100%;
  width: 100%;
  left: 0%;
  transition: all $speed $ease-out;

  &.open{
    left: $main_sidebar_width;

    @media screen and (min-width: $tablet-break) {
      left: 0;
    }

  }


}

.main-content {
  position: relative;
  height: 100%;
  overflow: hidden;
  transition: all $speed $ease-out;

  .open & {
    margin-left: -100px;
  }

  @media screen and (min-width: $tablet-break) {
    width: auto;
  }
}

.main-sidebar {
  position: relative;
  z-index: 2;
  min-height: 100%;

  &:after {
    content: '';
    position: absolute;
    left: $main_sidebar_width;
    height: 100%;
    background: red;
  }

}

.content-sidebar {
  float: left;
  height: 100%;
}

.center{
  text-align: center;
}

.nested-fields {
  margin-bottom: 20px;
  padding: 20px;
  background: #EFEFEF;
}

.header {
  margin-top: 20px;
  margin-bottom: 60px;
}

.icon-margin{
  margin-right: 4px;
}

