//Only for Cardboard Admin Area

@import "font-awesome";
@import "select2";

@import "globals/mixins";
@import "globals/variables";
@import "globals/typography";
@import "globals/inputs";
@import "globals/buttons";

@import "components/main-topbar";
@import "components/main-sidebar";
@import "components/main-content";
@import "components/login";
@import "components/flash-message";

@import "resources";

html, 
body{
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body{
  width: 100%;
  position: relative;
  left: 0;
  font-family: $font-primary;
  font-weight: 300;
  font-size: $base-font-size;
  transition: all $speed $ease-out;
}

a:not(btn) {
  @include font-size(12px);
  font-family: $font-secondary;
  text-transform: uppercase;
  color: $brand-color-primary;
  font-weight: bold;
  text-decoration: none;
  transition: all $speed $ease-out;
}

a:hover {
  color: $brand-color-secondary;
}

.body__container {
  position: relative;
  height: 100%;
  width: 100%;
  left: 0%;
  transition: all $speed $ease-out;
}

.main-content {
  position: relative;
  height: 100%;
  padding-bottom: 20px;
  transition: all $speed $ease-out;

  @media screen and (min-width: $tablet-break) {
    margin-left: $main_sidebar_width;
    width: auto;
  }
}

.center{
  text-align: center;
}

.nested-fields {
  margin-bottom: 20px;
  padding: 20px;
  background: #EFEFEF;
}

.header {
  margin-top: 20px;
  margin-bottom: 60px;
}

.icon-margin{
  margin-right: 4px;
}

