//Only for Cardboard Admin Area

@import "variables";

@import "bootstrap";

@import "bootstrap-wysihtml5";
@import "bootstrap_override";
@import "burbon_mixins";
@import "font-awesome";

@import "main";
@import "main_topbar";
@import "main_sidebar";
@import "content";
@import "content_sidebar";


.indent {
  display: block;
  margin-left: 15px;

  & > .indent {
    margin-left: 30px;

  }
}

.nested-fields{
  margin-bottom: 20px;
  padding: 20px;
  background: #EFEFEF;
}



