%hardware {
  backface-visibility: hidden;
  perspective: 1000;
}

.main-sidebar {
  @extend %hardware;
  position: absolute;
  z-index: 11;
  min-height: 100%;
  background: $darkest-gray;
  width: $main_sidebar_width;
  margin-left: 0-$main_sidebar_width;
  transition: all $speed $ease-out;

  @media screen and (min-width: $tablet-break) {
    margin-left: 0%;
    transition: all $speed $ease-out;
  }

  .client-logo {
    display: block;
    width: 100%;
    border-top: 10px solid $charcoal;
    padding: 20px 85px 10px 30px;

    img {
      width: 80%;
    }
  }

  .menu {
    margin-left: 30px;
  }

  .open & {
    margin-left: 0%;
  }
}

.powered-by {
  @include font-size(10px);
  font-family: $font-secondary;
  color: $dark-gray;
  text-transform: uppercase;
  margin-left: 30px;
  margin-bottom: 40px;
}

.cardboard-logo {
  display: inline-block;
  position: relative;
  top: 5px;
  height: 20px;
  margin-left: 10px;

  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  
    &.masked {
      color: $brand-color-primary;
    }  
  }
}

.menu__item {
  @include font-size(12px);
  border-top: 1px solid $stroke-color;
  font-family: $font-secondary;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  overflow: hidden;
  transition: all $speed $ease-out;

  &:last-child {
    border-bottom: 1px solid $stroke-color;
  }

  &.expanded {
    max-height: 500px;
  }

  a {
    padding: 22px 5px;
    display: block;
    word-wrap: break-word;
    color: $gray;
    text-decoration: none;
    transition: all $speed $ease-out;

    &:hover, 
    &.active {
      color: $white;
    }
  }
}

.open {
  .menu-toggle {
    transform: rotate(180deg);
  }
}

.menu-toggle {
  @include font-size(20px);
  padding: 2px 10px;
  position: absolute;
  left: 100%;
  top: 15px;
  width: 30px;
  height: 30px;
  background: $darkest-gray;
  color: $lightest-gray;
  cursor: pointer;

  @media screen and (min-width: $tablet-break) {
    display: none;
  }
}

.sidebar-search {
  margin-left: 30px;
  margin-bottom: 30px;

  [type='search']{
    border: 0;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100px;
    color: $light-gray;

  }

  ::-webkit-input-placeholder {
    color: $dark-gray;
  }

}

.input-append {
  margin: 10px;
  margin-left: 0;

  [type=text] {
    background: transparent;
    border-color: $dark-gray;
    color: $lightest-gray;
    border-radius: 50px;
    padding: 10px 15px;

    &:focus {
      outline-width: 0;
    }
  }
}

.sidebar_page_search_none {
  color: $gray;
  margin-bottom: 10px;
  display: none;
}

.new-page {
  display: inline-block;
  width: 100%;
  line-height: 1.2rem;

  i {
    @include font-size(24px);
    float: right;
    color: $white;
    width: 50px;
    height: 50px;
    background: $brand-color-primary;
    margin-top: -15px;
    margin-right: 3px;
    padding: 15px 0 0 15px;
  }
}

.sub-pages {
  margin-left: 30px;
  margin-top: -10px;
  margin-bottom: 20px;
}

.sub-page a {
  font-family: $font-primary;
  font-weight: 700;
  font-style: italic;
  color: $gray;
  text-transform: capitalize;
  padding: 0;
  margin: 15px 0;
  letter-spacing: 0.05rem;

  &:hover {
    color: $white;
  }
}

