.main-topbar{
  position: relative;
  margin-bottom: 0;
  width: 100%;
  height: 40px;
  color: $brand-color-primary;
  border-top: 10px solid $brand-color-primary;
  font-family: $font-secondary;
  text-transform: uppercase;
  letter-spacing: 0.15em;

  .navbar-inner{
    border: 0;
    padding: 0px 10px;
  }

  a {
    color: $brand-color-primary;
  }

  i {
    margin-right: 5px;
  }
}

.user-nav {
  @include font-size(12px);
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    display: inline;
    margin-left: 30px;
    padding: 15px 15px;
  }

  a {
    text-decoration: none;
  }

  .account-options {
    display: inline-block;
  }
}

.account-options {
  position: relative;
  cursor: pointer;

  &:hover,
  &:hover ul {
    background: $brand-color-primary;
    color: white;
    transition: all $speed $ease-out;
  }

  &:hover .dropdown-menu {
    max-height: 150px;
    transition: all $speed $ease-out;
  }

  &:hover li {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .dropdown-menu {
    max-height: 0;
    overflow: hidden;
    width: 100%;
    position: absolute;
    left: 0;
    top: 45px;
    margin: 0;
    padding: 0;
    transition: all $speed $ease-out;
  }

  li {
    display: block;
    margin: 0 10px;
    padding-right: 7px;
    padding-bottom: 4px;
    padding-top: 4px;
    color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    transition: all 0.2s $ease-out;

    &:hover {
      background: rgba(0, 0, 0, 0.1)
    }

    a {
      color: white;
    }
  }

  li:last-child {
    margin-bottom: 10px;
  }
}
