%hardware {
  backface-visibility: hidden;
  perspective: 1000;
}

.main-sidebar {
  @extend %hardware;
  position: fixed;
  z-index: 2;
  min-height: 100%;
  background: $darkest-gray;
  width: $main_sidebar_width;
  margin-left: 0-$main_sidebar_width;
  transition: all $speed $ease-out;

  @media screen and (min-width: $tablet-break) {
    margin-left: 0%;
    transition: all $speed $ease-out;
  }

  .cardboard-logo {
    display: block;
    width: 100%;
    border-top: 10px solid $charcoal;
    padding: 40px 85px;

    img {
      width: 143px;
      height: 27px;
    }
  }

  .menu {
    margin-left: 30px;
  }

  .open & {
    margin-left: 0%
  }
}

.item {
  @include font-size(12px);
  border-top: 1px solid $stroke-color;
  font-family: $font-secondary;
  text-transform: uppercase;
  letter-spacing: 0.15em;

  &:last-child {
    border-bottom: 1px solid $stroke-color;
  }

  a {
    padding: 22px 5px;
    display: block;
    word-wrap:break-word;
    color: $gray;
    text-decoration: none;
    transition: all $speed $ease-out;

    &:hover, 
    &.active{
      color: white;
    }
  }
}

.open {
  .menu-toggle {
    transform: rotate(180deg);
  }
}

.menu-toggle {
  @include font-size(20px);
  padding: 2px 10px;
  position: absolute;
  left: 100%;
  top: 15px;
  width: 30px;
  height: 30px;
  background: $darkest-gray;
  color: $lightest-gray;
  cursor: pointer;

  @media screen and (min-width: $tablet-break) {
    display: none;
  }
}

.sidebar-search {
  margin-left: 30px;
}

.input-append {
  margin: 10px;
  margin-left: 0;

  [type=text]{
    background: transparent;
    border-color: $dark-gray;
    color: $lightest-gray;
    border-radius: 50px;
    padding: 10px 15px;

    &:focus {
      outline-width: 0;
    }
  }
}

.sidebar_page_search_none {
  color: $gray;
  margin-bottom: 10px;
  display: none;
}

.new-page {
  display: inline-block;
  width: 100%;
  line-height: 1.2rem;

  i {
    @include font-size(24px);
    float: right;
    color: white;
    width: 50px;
    height: 50px;
    background: $brand-color-primary;
    margin-top: -15px;
    margin-right: 3px;
    padding: 15px 0 0 15px;
  }
}

.sub-pages {
  margin-left: 30px;
}

.sub-page a {
  font-family: $font-primary;
  font-weight: 300;
  font-style: italic;
  color: $gray;
  text-transform: capitalize;

  &:hover {
    color: white;
  }
}

