.main-sidebar {
  position: relative;
  float: left;
  z-index: 101;
  background: $darkest-gray;
  width: $main_sidebar_width;

  .cardboard-logo {
    display: block;
    width: 100%;
    border-top: 10px solid $charcoal;
    padding: 40px 85px;

    img {
      width: 143px;
      height: 27px;
    }
  }

  .menu {
    margin-left: 30px;

    .item {
      @include font-size(12px);
      border-top: 1px solid #696969;
      font-family: $font-secondary;
      text-transform: uppercase;
      letter-spacing: 0.15em;

      &:last-child {
        border-bottom: 1px solid #696969;
      }

      a {
        padding: 22px 5px;
        display: block;
        word-wrap:break-word;
        color: $gray;
        text-decoration: none;
        transition: all $speed $ease-out;

        &:hover, 
        &.active{
          color: $brand-color-primary;
        }
      }
    }
  }
}

