meta charset="utf-8"
title
  = "#{title} | " if defined?(title)
  | Cardboard CMS

= stylesheet_link_tag "cardboard"
= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900"
/ = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Montserrat:400,700"

= csrf_meta_tags

/[if lt IE 9] 
  script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"

= javascript_include_tag 'cardboard'
= include_gon