<!DOCTYPE html>
<html>
<head>
  <title>Cardboard</title>
  <%= stylesheet_link_tag    "cardboard/application", :media => "all" %>
  <%= javascript_include_tag "cardboard/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
