= f.input :value, label: f.object.identifier, hint: f.object.hint, placeholder: f.object.placeholder, required: f.object.required do
  = f.input :retained_value, as: :hidden
  = f.input :remove_value, as: :boolean, inline_label: "Delete file?", label: false, :wrapper => :default

/ = render "cardboard/fields/base_input", f: f